<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="csrf" content="<%= Plug.CSRFProtection.get_csrf_token() %>">

    <title>Bank Accounting System</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
      <section name="main" id="accounts-app">
          <div class="container" >
              <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
              <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
              <main role="main" >
                  <%= render @view_module, @view_template, assigns %>
              </main>
          </div>
          <!-- Modal -->
          <div class="modal" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle">
              <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">
                              Transfer values from {{source_account? source_account.identificator : null }}</h5>
                          <button v-on:click="closeModal"
                              type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      <div class="modal-body">
                          <form>
                              <div class="form-group">
                                  <label for="destinationAccount">Destination Account</label>
                                  <select class="form-control" id="destinationAccount" v-model="destination_account">
                                      <option v-for="account in accounts" v-bind:value="account">{{ account.identificator }}</option>
                                  </select>
                              </div>
                              <div class="form-group">
                                  <label for="transferAmount">Amount to transfer</label>
                                  <input v-model="amount"
                                      type="text" class="form-control" id="transferAmount" placeholder="100.00">
                              </div>
                          </form>
                      </div>
                      <div class="modal-footer">
                          <button v-on:click="transfer"
                              type="button" class="btn btn-primary">Transfer</button>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
</body>

</html>
